* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
 /* max-width: 1000px;*/
  

  /* Flex */
  display: flex;  /* porque es el elemento padre */
  flex-direction: row;  /*nos pone los elementos en linea*/
  flex-wrap: wrap;  /*hace que si un elemento no cabe, se ponga debajo del otro*/
  /* Atajo sería--> flex-flow:row wrap; */

}

body {
    background:url(img/school_back.jpg) no-repeat fixed center center;
    background-size: cover;
    font-family: 'Muli', sans-serif;
}

nav {
  background: #4D4E4F;
  width: 100%;

}

nav div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
}
nav a {
  background:#4D4E4F;
  width: 100%;
  color:#ffffff;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

  nav a:hover {
    background:#B4D235;
    transition: all 300ms ease;
  }

header {
  background-color:#ffffff;
  width: 100%;
  padding: 0px;
  display: flex;
  justify-content: center;
}

#intro {
  margin: 15px;
}

h1 {
  font-family:'Gothic A1', sans-serif;
  font-size: 32px;

}
h2 {
  font-family:'Gothic A1', sans-serif;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  letter-spacing: -1px;
}

.bold {
 color: rgb(44, 44, 44);
 font-weight: 900;
}


.main {
  width: 100%;
  height: 75vh;;
  padding: 20px;
  display: flex;  /* porque es el elemento padre */
  justify-content: space-around;  /* cada div quedará a los costados*/ 
  /* se centran los elementos*/
  flex-direction: row;  /*nos pone los elementos en linea*/
  flex-wrap: wrap;  /*hace que si un elemento no cabe, se ponga debajo del otro*/
  /* Atajo sería--> flex-flow:row wrap; */
   /* 1(shrink - proporción cuanto se va a estrechar). 2(shrink - proporción cuanto se va a estrechar) */
}

.main article {
  margin-bottom: 20px;
  padding-bottom: 20px; 
}

.button {
  background-color:black;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px; 
  padding-right: 12px; 
  width: 100px;
  border-radius: 20px;
  border: 0px;
  box-sizing: border-box;
  transition: all 300ms ease;
}
.button:hover {
  background-color:#B4D235;
}

.center {
  text-align: center;
}

.informacion {
  background-color:#B4D235;
  margin: 6%;
  padding: 26px;
  border-radius: 20px;
  border: 8px dashed; 
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.informacion div {
  padding: 20px;
}

.informacion div div {
  padding: 30px;
  font-size: 20px;
  line-height: 1.6em;
}

.informacion a {
  background:#4D4E4F;
  width: 100%;
  color:#ffffff;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;
  margin-right: 10px;
}
.informacion a:hover {
  background-color: black;
}

.izquierda {
 margin-top: 20px;
 align-items: flex-end;

}
#mainDos {
  flex-direction: column;
  
}

footer {
  background-color: #4D4E4F;
  width: 100%;
  padding-bottom: 20px;
  justify-content: end;
}


/* Responsive */
@media screen and (max-width: 800px) {
  .contenedor {
    flex-direction: column;
    flex-wrap: wrap;
  }

  
}
